<h1 class="tw-w-full tw-font-bold tw-leading-tight tw-my-6 tw-normal-case tw-font-headline tw-text-4xl">Octane: Tracked Values</h1>

{{#let (get-code-snippet "octane-tracked.js") as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}
