<article class="tw-flex tw-flex-row tw-borde-solid tw-border-b-2 tw-border-black-80">
  <section class="tw-flex-1 tw-bg-ui-black-100 tw-text-white tw-p-8">
    {{yield to="left"}}
  </section>
  <section class="tw-flex-1 tw-p-8">
    {{yield to="right"}}
  </section>
</article>
