<h1
  class='tw-w-full tw-font-bold tw-leading-tight tw-my-6 tw-normal-case tw-font-headline tw-text-4xl'
>Component Arguments</h1>
<p>
  Values passed as arguments to components must also be tracked in order to
  cause an update in the child component.
</p>

{{#let (get-code-snippet 'component-arguments.js') as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
{{/let}}
{{#let (get-code-snippet 'component-arguments.hbs') as |snippet|}}
  <CodeBlock @code={{snippet.source}} @language='html' />
{{/let}}
