<div class='tw-p-3 tw-m-2 tw-bg-accent-60 tw-rounded'>
  <strong>Child Component</strong>
  <p>Tracked Arg: {{@trackedValue}}</p>
  <p>Untracked Arg: {{@untrackedValue}}</p>
  <p>Object Value: {{@objectValue}}</p>
</div>
